* {
  @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
}
.logo {
  width: 100px;
  margin-right: 20px;
}

.logo img {
  width: 100%;
}

/* .search {} */

.sell {
  font-size: 1.2rem;
  color: black;
  border: 5px solid black;
  border-top-color: #fe4a49;
  border-right-color: #2ab7ca;
  border-bottom-color: #fed766;
  border-left-color: #2cdd9b;
  padding: 5px 8px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: 600;
}

.sell:hover {
  text-decoration: none;
}

.sell img {
  margin-top: 20px;
  width: 60px;
  height: 60px;
}

.mr-sm-2 {
  color: #002f34;
  text-decoration: underline;
  font-size: 23px;
}
.mr-sm-2:hover {
  color: #002f34;
  text-decoration: none;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.freshr {
  padding-top: 15px;
  padding-left: 25px;
}

.service-5 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}
.service-5 h1,
.service-5 h2,
.service-5 h3,
.service-5 h4,
.service-5 h5,
.service-5 h6 {
  color: #3e4555;
}
.service-5 a {
  text-decoration: none;
}
.service-5 .linking {
  color: #3e4555;
}
.service-5 .linking:hover {
  color: #316ce8;
}
.service-5 .font-weight-medium {
  font-weight: 500;
}
.service-5 .bg-light {
  background-color: #f4f8fa !important;
}
.service-5 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}
.service-5 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.service-5 .wrap-service5-box .card-body {
  padding: 30px;
}
.service-5 .wrap-service5-box .text-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-5 .wrap-service5-box .icon-size {
  font-size: 45px;
}
.service-5 .btn-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}
.service-5 .btn-success-gradiant:hover {
  background: #1dc8cc;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #1dc8cc 0%,
    #2cdd9b 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1dc8cc),
    to(#2cdd9b)
  );
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}
.service-5 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}
.btn btn-dark {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.card-image {
  width: 95px;
  height: 95px;
}
.mycard {
  margin-top: 50px;
}
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  border-radius: 5%;
}
.login-image {
  height: 130px;
  width: 180px;
  margin-left: 145px;
}
.input-group1 {
  margin-bottom: 26px;
}
.input-group1:nth-last-child(-n + 2) {
  margin-bottom: 50px;
}
.input-group1 > label,
.input-group1 > input {
  font-family: "Roboto", sans-serif;
  max-width: 420px;
  text-align: left;
  width: 80%;
}
.input-group1 > label {
  color: #676767;
  display: inline-block;
  margin-bottom: 5px;
}
.input-group1 > input {
  background: #f2f2f5;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  color: #676767;
  font-size: 16px;
  height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: all 0.3s;
}
.input-group1 > input:focus {
  background: #fff;
  border-color: #c4c4c4;
}
.input-group1 > input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}
.primary {
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 420px;
  outline: 0;
  padding: 10px 0;
  transition: background 0.3s;
  width: 80%;
  margin-bottom: 26px;
}
button.primary {
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}
button.primary:hover {
  background: #1dc8cc;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #1dc8cc 0%,
    #2cdd9b 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1dc8cc),
    to(#2cdd9b)
  );
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}
.mail {
  width: 65% !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.mailName {
  background-color: #ccced4;
  padding-top: 11px;
  padding-bottom: 11.2px;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

button:disabled {
  cursor:not-allowed;
}

/* Card */
.cards {
  --auto-grid-min-size: 18rem;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
  margin: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  pointer-events: none;
  text-align: center;
}

.cards > * {
  margin-right: 10px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;

  pointer-events: auto;
  transition: 300ms opacity, 300ms transform;
}

.cards:hover > *,
.cards:focus-within > * {
  opacity: 0.4;
}

.cards:hover > *:hover,
.cards:focus-within > *:focus {
  transform: scale(1.1);
  opacity: 1;
}

.cards:hover > :focus:not(:hover) {
  transform: scale(1.05);
}

.card12 {
  background: #2c647b;
  color: #fff;
  list-style: none;
  padding: 5rem 1rem;
}
.buttonNext {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 120px;
  outline: 0;
  padding: 10px 0;
  transition: background 0.3s;
  width: 50%;
  margin-bottom: 26px;
}
button.buttonNext {
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}
button.buttonNext:hover {
  background: #1dc8cc;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #1dc8cc 0%,
    #2cdd9b 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1dc8cc),
    to(#2cdd9b)
  );
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

/*Attributes*/
.primary1 {
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 250px;
  outline: 0;
  padding: 10px 0;
  transition: background 0.3s;
  width: 80%;
  margin-bottom: 26px;
  margin-left: 25%;
}

button.primary1 {
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

button.primary1:hover {
  background: #1dc8cc;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #1dc8cc 0%,
    #2cdd9b 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1dc8cc),
    to(#2cdd9b)
  );
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

button.primary1:disabled,
button.buttonNext:disabled {
  cursor: no-drop;
}

/*dropdown*/

.wrapper {
  position: relative;
  text-align: right;
}
.drop {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  flex-direction: column;
  border: 1px solid rgb(149, 143, 143);
  border-radius: 5px;
  /* padding: 5px 2px; */
  padding: 10px 0;
  gap: 2px;
  right: 0;
  z-index: 100;
  text-align: left;
}

.dropdown-item {
  font-weight: 500;
}

.dropdown-item img {
  margin-right: 4px;
}

.drop:checked ~ .dropdown {
  display: flex;
}

.dropdown-item:hover {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  /* font-weight: 600; */
}

.profile {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}
.profile {
  cursor: pointer;
}

/*product*/

.card-product {
  margin-right: 15px;
  padding: 13px;
  max-width: 222px;
  width: 222px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
}

.card-product .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-product .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-product .image img {
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  text-align: center;
}
.card-product .content .rate {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}
.card-product .content .category {
  font-size: medium;
}
.card-product .content .name {
  font-size: small;
}
.card-product .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

/* Footer */

.footerParentDiv {
  width: 100vw;
 
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebeeef;
  padding: 16px;
  
  
}
.footerParentDiv .content .heading {
  font-size: 24px;
  font-weight: bolder;
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #002f34;
  color: whitesmoke;
}

.footerParentDiv .footer p {
  margin: 0;
}

