<div style="padding: 5px">
  <div>
    <h1 style="text-align: center; padding: 4px 0">KietOLX</h1>
  </div>
  <div>
    <h2>Verify you email address</h2>
    <p>
      Thank for starting the KietOLX account creation process. We want to make
      sure it's really you. Please click the following button to verify you email
      address. If you don't want to create an account you cann ignore this
      message.
    </p>
    <p style="text-align: center">
      <a
        style="
          background-color: teal;
          padding: 6px 12px;
          border-radius: 5px;
          color: white;
          text-decoration: none;
        "
        href="http://127.0.0.1:3000/verify-email/{{token}}"
        >Verify Email</a
      >
    </p>
  </div>
</div>
