<div style="padding: 5px">
  <div>
    <h1 style="text-align: center; padding: 4px 0">KietOLX</h1>
  </div>
  <div>
    <h2>Reset your password</h2>
    <p>
      A request has been made to resest your password.
    </p>
    <p>
      Please click on this link below in order to reset your password.
    </p>
    <p style="text-align: center">
      <a
        style="
          background-color: teal;
          padding: 6px 12px;
          border-radius: 5px;
          color: white;
          text-decoration: none;
        "
        href="{{password_reset_url}}"
        >Reset Password</a
      >
    </p>
    <p>
      If you can't click on that link, just copy a nd paste the following url in your browser's address bar:
    </p>
    <p>
      <a href="{{password_reset_url}}">{{password_reset_url}}</a>
    </p>
    <p>
      Thanks,<br />
      Team KietOLX 
    </p>
  </div>
</div>
